
<div class="footer" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:fragment="footer">
	<div class="footer-inner">
		<div class="footer-content">
			<span class="bigger-120">
				<span class="blue bolder">小视科技</span>
				云端SDK授权管理平台 &copy; 2016-2017
			</span>

			&nbsp; &nbsp;
			<span class="action-buttons">
				<a href="#">
					<i class="ace-icon fa fa-qq blue bigger-150"></i>
				</a>
				<a href="#">
					<i class="ace-icon fa fa-weixin green bigger-150"></i>
				</a>
				<a href="#">
					<i class="ace-icon fa fa-weibo text-primary bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
				</a>
			</span>
		</div>
	</div>
</div>